.stopwatch__time-block {
    margin-bottom: 15px;
}

.stopwatch__hours,
.stopwatch__minutes,
.stopwatch__seconds {
    font-size: 30px;
    font-weight: 400;
}

.stopwatch__button-block {
    margin-bottom: 15px;
}

.stopwatch__btn {
    padding: 5px 25px;
    background-color: unset;
    border: 1px solid teal;
}

.stopwatch__btn:active {
    transform: translateY(1px);
}